# you can also change it directly from the code if you want.
DISCORD_TOKEN=your_token_here

# HOW TO GET YOUR TOKEN

# Bot Token: Go to discord.com/developers/applications -> New App -> Bot -> Reset Token. (Turn on 'Server Members Intent').

# For User Token: Log into Discord on a browser -> Press F12 -> Network tab -> Click a chat channel -> Look for a 'messages' request -> Copy the 'Authorization' value from Request Headers.

# — itztrmin